<div class="row row-centered">
  <div class="profile col-md-6 col-centered">
    <% if @profile.nil? %>
      <% if @user.id == current_user.id %>
        <center>
        <h3>You didn't have a profile yet!<br>
        <%= link_to 'Create your profile', new_profile_path %></h3>
        </center>
      <% end %>
    <% else %>
      <div class="row row-centered">
        <div class="col-md-6 ">
          <%= image_tag @profile.avatar.url(:medium) %>
        </div>
        <div class="col-md-6">
          <p>
            <strong>User name:</strong>
            <%= @profile.user_name %>
          </p>
          <p>
            <strong>Age:</strong>
            <%= @profile.age %>
          </p>
          <p>
            <strong>Gender:</strong>
            <%= @profile.gender %>
          </p>
          <p>
            <strong>Location:</strong>
            <%= @profile.location %>
          </p>
          <p>
            <strong>Intro:</strong>
            <%= @profile.intro %>
          </p>
          <p>
            <strong>Interest:</strong>
            <%= @profile.interest %>
          </p>
        </div>
      </div>
      <div class="centering">
        <% if @profile.user_id == current_user.id %>
            <%= link_to 'Edit', edit_profile_path(@profile) %> 
            <br>
            <%= link_to 'New Post', new_post_path %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>