<div class="row row-centered">  
  <% if @profile.nil? %>
    <% if @user.id == current_user.id %>
      <center>
        <h3>You didn't have a profile yet!<br>
        <%= link_to 'Create your profile', new_profile_path %></h3>
      </center>
  <% end %>
  <% else %>
    <div class="col-md-6 col-xs-10 col-centered profile-container">
      <div class="row row-centered">
        <div class="col-md-12 col-xs-12">
            <div class="photo" style="background-image: url('<%=@profile.avatar.url%>')"></div>
          <div class="info-container">
            <div class="big-font">
                <%= @profile.user_name %>, <%= @profile.age %>,
                <% if @profile.gender == 'Male' %>
                  <span class = "fa fa-mars" aria-hidden="true"></span>
                <% else %>
                  <span class = "fa fa-venus" aria-hidden="true"></span>
                <% end %>
            </div>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @profile.location %><br>
            Intro: <%= @profile.intro %> <br>
            Interest: <%= @profile.interest %>
          </div>
        </div>
        <% if @profile.user_id == current_user.id %>
            <%= link_to 'Edit profile', edit_profile_path(@profile), :class => 'btn' %> 
            <%= link_to 'New Post', new_post_path, :class => 'btn' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>