<% if user_signed_in? %>
	<div class="newUI">
		<% if current_user.profile.nil? %>
			<center>
				<div class="newUI">
				<div class="row row-centered">
					<div class="introText col-md-6 col-centered">
						<h3>
						<center><img class="bigLogo" alt="Tinder" src="logoTinder.svg"> <br><br>
						Before using, you have to go to Your Profile and create one with your name, age, interest, etc. After that you can Find Friends in Tinder!<br><br>
						<%= link_to "Create your profile", new_profile_path, class: "buttonBig" %>
						</center>
						</h3>
					</div>
				</div>
				</div>		
			</center>
	</div>
	<% else %>
		<div class="centering whiteText row-centered">
			<h1>Find friends</h1>
			<p>Find people with the same interest</p>

			<% @users.each do |user| %>
			    <% next if user.id == current_user.id %>
			    <% next if user.profile.nil? %>
			    <% next if current_user.likes?(user) %>
			    <%#= link_to (user.email), user_path(user) %> <!-- <br> -->
			    <div class="col-md-4 col-xs-8 col-centered">
				  <div class="thumbnail">
					  <h2 class="text-primary"><%= link_to (user.profile.user_name), user_path(user) %></h2>
					  <%= image_tag user.profile.avatar.url(:medium) %>
					  <p><%= link_to 'Like', like_user_user_path(user) %></p>
				  </div>
				</div>
			<% end %>
		</div>
	<% end %>

<% else %>
	<div class="newUI">
		<div class="introText">
			<img class="bigLogo" alt="Tinder" src="logoTinder.svg">
			<br><h3 style="color:white;">Meet people, be friends, have fun.</h3>
			<br>
			<%= link_to "SIGN UP", new_user_registration_path, class: "buttonBig" %>
		</div>
	</div>
<% end %>
