<% if user_signed_in? %>
	<div class="newUI">
		<% if current_user.profile.nil? %>
			<center>
				<div class="newUI">
				<div class="row row-centered">
					<div class="introText col-md-6 col-centered">
						<h3>
						<center><img class="bigLogo" alt="Tinder" src="logoTinder.svg"> <br><br>
						Before using, you have to go to Your Profile and create one with your name, age, interest, etc. After that you can Find Friends in Tinder!<br><br>
						<%= link_to "Create your profile", new_profile_path, class: "buttonBig" %>
						</center>
						</h3>
					</div>
				</div>
				</div>		
			</center>
	</div>
	<% else %>
		<div class="centering whiteText row-centered">
			<h1>Find friends</h1>
			<p>Find people with the same interest</p>

			<% @users.each do |user| %>
			    <%#= link_to (user.email), user_path(user) %> <!-- <br> -->
			    <div class="col-md-4 col-xs-10 col-centered profile-container profile-display">
			    	<div class="row">		
			    		<div class="col-md-12 col-xs-12">
						 	<h2 class="no-margin-top">
								<%= link_to user_path(user) do %>
					                <%= user.profile.user_name %>, <%= user.profile.age %>
					            <% end %>
				            </h2>
			            	<div class="photo" style="background-image: url('<%=user.profile.avatar.url%>')"></div>
							<br>
							<div class="big-font blackText">
		                		<%= user.profile.intro %>
		                		<!-- <br>Common interest: <%= @common_interest[user.id] %> -->
		           			 </div>
							<%= link_to like_user_user_path(user),:class => 'users-button like-button', :id => "like_user_#{user.id}",:method => :post do %>
				            		<span title="Like this user" class="fa fa-thumbs-up hvr-bounce-in" aria-hidden="true"></span>
				            <% end %>
				            <%= link_to "#",:class => 'users-button dislike-button' do %>
				            		<span title="Dislike this user" class="fa fa-thumbs-down hvr-bounce-in" aria-hidden="true"></span>
				            <% end %>
				            <% if current_user.followed_by?(user) %>
					            <h3 class="no-margin-top" style = "color: blue">
									<% if user.profile.gender == 'Male' %> 
										He has superliked you!
									<% else %>
										She has superliked you!
									<% end %>	
					            </h3>
					        <% else %>
					         	<%= link_to superlike_user_user_path(user),:class => 'users-button super-like-button',:id => "super_like_this_user", :method => :post do %>
					            		<span title="Super like this user" class="fa fa-heart hvr-bounce-in" aria-hidden="true"></span>
					            <% end %> 
					        <% end %>  
				        </div>
					</div>
				</div>
			<% end %>
				
		</div>
	<% end %>

<% else %>
	<div class="newUI">
		<div class="introText">
			<img class="bigLogo" alt="Tinder" src="logoTinder.svg">
			<br><h3 style="color:white;">Meet people, be friends, have fun.</h3>
			<br>
			<%= link_to "SIGN UP", new_user_registration_path, class: "buttonBig" %>
		</div>
	</div>
<% end %>
