<div class="centering">
  <h2><%= @user.email %></h1>

  <%= render template: 'profiles/show' %>

  <% @user_posts.each do |user_post| %>
      <div class="col-md-4">
        <div class="thumbnail">

          <%= image_tag user_post.image.url(:medium) %>

          <div class="caption">
            <h4 class="text-primary"><%= @profile.user_name %>
              <small style="color: black"><%= user_post.caption %></small>
            </h4>
          </div>

          <% if user_post.user == current_user %>
            <p><%= link_to 'Edit', edit_post_path(user_post) %> | 
               <%= link_to 'Destroy', post_path(user_post), method: :delete, data: { confirm: 'Are you sure?' } %>
            </p>
          <% end %>
           
        </div>
      </div>
  <% end %>

  <%# end %>
</div>