<%= form_for @post, html: { multipart: true } do |f| %>
   <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container2">
  <div class="centering" style="clear: both">
    <%= f.file_field :image %>
    </div>
    <!--<%= f.label :caption %>--><br>
    <%= f.text_field :caption,:value => "Image caption",:size => 80 %>
  <div class="btn">
    <%= f.submit %>
  </div>
  </div>
<% end %>