<%= form_for @post, html: { multipart: true } do |f| %>
   <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="containerPost">
    <div class="centering" style="clear: both">
      <%= f.file_field :image, style: "margin: auto;" %>
    </div>
    <div style="margin-left: 30px; margin-right: 30px;">
      <%= f.label :caption %><br>
      <%= f.text_field :caption, style: "width: 80%; height: 50px; color: black;" %><br>
      <%= f.submit "Post", class: "buttonSmall"  %>
    </div>
  </div>
<% end %>