<p id="notice"><%= notice %></p>
<div class="col-md-4 col-md-offset-4">
  <div class="thumbnail">
  <h2 class="text-primary"><%= @post.user.email %></h2>
  <%= image_tag @post.image.url(:medium) %>
    <div class="caption">
      <h4 class="text-primary"><!--<%= @post.user.email %> --> <small style="color: black"><%= @post.caption %></small></h4>
      <p> 
      <div class="centering">
      <%= link_to 'Back', user_path(current_user) %> |
      <% if @post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(@post) %> 
      <% end %>
      </div>
    </div>
  </div>
</div>
