<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tinder</title>
    <link rel="icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'hover' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="bg">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;">
      <div class="container-fluid"> 
         <!--Brand image -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img style="height:100%; display: inline-block; margin-bottom: 10px;" alt="" src="../logoTinderSmall.svg">
            <span>Tinder</span>
          </a>
        </div>
        <!--Text-->
        <% if user_signed_in? %>
          <p class="navbar-text">
            <% if current_user.profile.nil? %>
              <%= link_to new_profile_path do %>
                <span class="navbar-url">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Create Profile
                </span>
              <% end %>
            <% else %>
              <!--<%= link_to 'My Profile', user_path(current_user) %>-->
              <%= link_to user_path(current_user) do %>
                <span class="navbar-url">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> My Profile
                </span>
              <% end %>
            <% end %> <%#= link_to 'New Post', new_post_path %>  
            <%= link_to users_path do %>
              <span class="navbar-url">
                <span class="fa fa-group" aria-hidden="true"></span> Find Friends
              </span>
            <% end %>  
            <%= link_to matches_path do %>
              <span class="navbar-url">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Matches
              </span>
            <% end %>
          </p>

          <p class = "navbar-text navbar-right" style="padding-right:30px">Signed in as <%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></p>
        <% else %>
          <p class="navbar-text navbar-right" style="padding-right:30px"><%= link_to "Sign Up", new_user_registration_path %>  <%= link_to "Sign In", new_user_session_path %></p>
        <% end %>
      </div>
    </nav>
<!--<p class="alert centering" style="color:green;"><%= notice %></p>-->
      <% if user_signed_in? %>
        <p class="alert text-center" style="background-color: green; clear:both; height:15px"><%= alert %></p>
      <% end %>
    <div>
        <%= yield %>
    </div>
</body>
</html>
