<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tinder</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="alert"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<<<<<<< HEAD
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        
         <!--Brand image -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          <img alt="Tinder" src="...">
          </a>
        </div>
        <!--Text-->
        <% if user_signed_in? %>
          <p class="navbar-text">Signed in as <%= current_user.email %> | <%= link_to 'New Post', new_post_path %> </p>
          <p class = "navbar-text navbar-right">Not you?  <%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></p>
        <% else %>
          <p class="navbar-text"><%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %></p>
        <% end %>
        
      </div>
    </nav>
=======
    <% if user_signed_in? %>
      Sign in as <%= current_user.email %>. Not you?
      <%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
    <% end %>
>>>>>>> a0ec61f16808e56a6967ff43b7e82861fdb0cb91
  
    <%= yield %>

  </body>
</html>
